a.qt-logo-link {
    width: 25vh;
}
.qt-the-content table td, .qt-the-content table th {
	border: none !important;
	text-align: right;
}

.ui-helper-center {
    vertical-align: middle;
}

/* dim header */
@media only screen and (min-width: 1201px)
	{
	.qt-menubar ul.qt-desktopmenu {
			text-align: right;
			min-height: 100px !important;
			height: 110px !important;
			line-height: 65px;
			padding: 0 20px;
			z-index: 100;
			position: relative;
			-webkit-transition: background 0.15s;
			transition: background 0.15s;
			will-change: background;
	}
}

@media only screen and (min-width: 1201px)
{
	.qt-menubar ul.qt-desktopmenu>li.qt-menuitem {
			padding-right: 5px;
			padding-top: 2vh;
	}
}

/* Fix logo */
@media only screen and (min-width: 1201px)
{
	.qt-menubar ul.qt-desktopmenu>li.qt-logo-link a {
			font-size: 2.4rem;
			padding-left: 0;
			padding-right: 0;
		width:200px !important;
	}
}